<div>
  <form [formGroup]="addForm" (ngSubmit)="save()">
    <div><span>Name: </span><input formControlName="name"/></div>
    <div><span>Brand: </span><input formControlName="brand"/></div>
    <div><span>Price: </span><input formControlName="price"/></div>
    <div><span>Quantity: </span><input formControlName="quantity"/></div>
    <div><span>ExpiryDate: </span><input formControlName="expiryDate"/></div>
    <div><span>Notes: </span><input formControlName="notes" placeholder="notes"/></div>
    <button type="submit">save</button>
  </form>
</div>